/******************************************************************************
 *
 *   Copyright Corvinus University of Budapest, Budapest, HUN.
 *
 * ---------------------------------------------------------------------------
 *   This is a part of the RF.Modules.UIElements project
 *
 *   DEMO SITE THEME
 *
 *****************************************************************************/

$cl-light-2: #ffe3d0;
$cl-light-1: #fba972;
$cl-normal: #ed7d31;
$cl-dark-1: #d15400;
$cl-dark-2: #ab4500;
